.container { 
    /* margin top à ajuster avec javascript */
    margin: 100px auto;
    max-width: 500px;
    border: 2px solid black;
}
h1 {
    text-align: center;
}
#breakset {
    float: left;
}
#sessionset {
    float: right;
}
#pom {
    position: relative;
    clear:both;
    text-align: center;
    border: 2px solid black;
    /*background-color: white;*/
}
#wholeHG {
    width: 500px;
}
svg {
    width: 500px;
    height: 530px;
}
#test1 {
}
.showtime {
    font-size: 500%;
    font-family: Impact, Charcoal, sans-serif;
    font-style: italic;
    opacity: 0.1;
    text-align: center;
    position: absolute;
    left: 35%;
    z-index: 1;
}
#remain {
    top: 18%;
    display: none;
}
#runned {
    top: 65%;
    display: none;
}
#glass {
    transform-origin: 50% 50%;
}
/*
#haut.liquide {
    position: absolute;
    background-color: red;
    top: 30px;
    left: 48px;
    left: 0;
    height: 180px;
    width: 400px;
    z-index: -1;
}
#bas.liquide {
    background-color: red;
    height: 20px;
    width: 300px;
}
#flux.liquide {
    display: none;
}
*/
#start {
    text-align: center;
}
#hourglass {
    position: relative;
    top: 0px;
}
#liquideHaut {
    display: none;
}
#liquideHaut rect {
    fill: #E40008;
}
#liquideBas {
    /*display: none;*/
}
#liquideBas rect {
    fill: #E40008;
}
#liquideFlux {
    display: none;
}
#liquideFlux rect{
    fill: #E40008;
}

#liquidTurn {
    fill: #E40008;
    display: none;
}
#liquidTurn rect {
    fill: red;
}

.hgcol {
    fill: #806A23;
    stroke: black;
    stroke-width: 3px;
}
.hgframe {
    fill: blue; 
    stroke: black;
}
